body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sr-only { display: none; }

.btn {
  padding: 0.5rem 1rem;
  border-radius: 10%;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
}

.save-button {
  background-color: green;
}

.cancel-button {
  background-color: gray;
  margin-right: 4px;
}

.image-upload-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.editor-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.editor-modal .modal-content {
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2))
}

.editor-modal .modal-content canvas {
  align-self: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.rotate-button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.slider-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
